MA_I_Data/form_ma_xsd_repository/eis_Common_MA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by NK (Keane Federal Systems) -->
<xs:schema xmlns="http://www.sec.gov/edgar/common_ma" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.sec.gov/edgar/common" targetNamespace="http://www.sec.gov/edgar/common_ma" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
	<!-- 
		These codes are only for states and territorities that require investment adviser registration
	-->
	<xs:simpleType name="US_IAR_STATE_TYPE">
		<xs:annotation>
			<xs:documentation>
                Set of 53 valid US States and Territory Codes that require Investment Advisors to register.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="KS"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NV"/>
			<xs:enumeration value="NH"/>
			<xs:enumeration value="NJ"/>
			<xs:enumeration value="NM"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="OH"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TX"/>
			<xs:enumeration value="UT"/>
			<xs:enumeration value="VT"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VI"/>
            <xs:enumeration value="WA"/>
  			<xs:enumeration value="WI"/>
            <xs:enumeration value="WV"/>
   			<xs:enumeration value="WY"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="GU"/>
			<!-- ALABAMA -->
			<!-- ALASKA -->
			<!-- ARIZONA -->
			<!-- ARKANSAS -->
			<!-- CALIFORNIA -->
			<!-- COLORADO -->
			<!-- CONNECTICUT -->
			<!-- DELAWARE -->
			<!-- DISTRICT OF COLUMBIA -->
			<!-- FLORIDA -->
			<!-- GEORGIA -->
			<!-- HAWAII -->
			<!-- IDAHO -->
			<!-- ILLINOIS -->
			<!-- INDIANA -->
			<!-- IOWA -->
			<!-- KANSAS -->
			<!-- KENTUCKY -->
			<!-- LOUISIANA -->
			<!-- MAINE -->
			<!-- MARYLAND -->
			<!-- MASSACHUSETTS -->
			<!-- MICHIGAN -->
			<!-- MINNESOTA -->
			<!-- MISSISSIPPI -->
			<!-- MISSOURI -->
			<!-- MONTANA -->
			<!-- NEBRASKA -->
			<!-- NEVADA -->
			<!-- NEW HAMPSHIRE -->
			<!-- NEW JERSEY -->
			<!-- NEW MEXICO -->
			<!-- NEW YORK -->
			<!-- NORTH CAROLINA -->
			<!-- NORTH DAKOTA -->
			<!-- OHIO -->
			<!-- OKLAHOMA -->
			<!-- OREGON -->
			<!-- PENNSYLVANIA -->
			<!-- RHODE ISLAND -->
			<!-- SOUTH CAROLINA -->
			<!-- SOUTH DAKOTA -->
			<!-- TENNESSEE -->
			<!-- TEXAS -->
			<!-- UTAH -->
			<!-- VERMONT -->
			<!-- VIRGINIA -->
			<!-- Virgin Islands -->
			<!-- WASHINGTON -->
			<!-- WEST VIRGINIA -->
			<!-- WISCONSIN -->
			<!-- PUERTO RICO -->
			<!-- GUAM -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRING_10K_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRING_3K_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="STRING_256_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ENTITY_NAME_256_TYPE">
		<xs:annotation>
			<xs:documentation>A Company Name can be up to 256 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
			<xs:pattern value="([\w\s!\\#$(),.:;=@`\-{}|/&amp;]+)"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Begin Common HEADER_DATA -->
	<xs:complexType name="HEADER_DATA">
		<xs:sequence>
			<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE" minOccurs="0"/>
			<xs:element name="filer" type="ns1:FILER_TYPE"/>
			<xs:element name="contact" type="ns1:CONTACT_TYPE"/>
			<xs:element name="contactEmail" type="ns1:INTERNET_ADDRESS_TYPE"/>
			<xs:element name="notifications" type="ns1:NOTIFICATION_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End Common HEADER_DATA -->
	<xs:complexType name="INDIVIDUAL_NAME_TYPE">
		<xs:sequence>
			<xs:element name="firstName" type="ns1:STRING_50_TYPE" minOccurs="0"/>
			<!-- The middle name flag element my be removed in later versions. -->
			<xs:element name="middleName" type="ns1:STRING_30_TYPE" minOccurs="0"/>
			<xs:element name="lastName" type="ns1:STRING_50_TYPE" minOccurs="0"/>
			<xs:element name="suffix" type="ns1:STRING_10_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INDIVIDUAL_NAME_NO_SUFIX_TYPE">
		<xs:sequence>
			<xs:element name="firstName" type="ns1:STRING_50_TYPE"/>
			<!-- The middle name flag element my be removed in later versions. -->
			<xs:element name="middleName" type="ns1:STRING_30_TYPE"/>
			<xs:element name="lastName" type="ns1:STRING_50_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NAME_TYPE">
		<xs:choice>
			<xs:element name="firmName" type="ns1:ENTITY_NAME_TYPE"/>
			<xs:element name="individualName" type="INDIVIDUAL_NAME_TYPE"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ADDRESS_TYPE">
		<xs:sequence>
			<xs:element name="residentialAddressFlag" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="address" type="ns1:ADDRESS_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SS_NUM_TYPE">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}-\d{2}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IRS_OR_SSN">
		<xs:choice>
			<xs:element name="irsNum" type="ns1:TAX_ID_TYPE"/>
			<xs:element name="ssNum" type="SS_NUM_TYPE"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ADD_DELETE_AMEND">
		<xs:choice>
			<xs:element name="add" default="Add"/>
			<xs:element name="delete" default="Delete"/>
			<xs:element name="amend" default="Amend"/>
			<xs:element name="newAdd" default="NewAdd"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NAME_AND_REGISTRATION">
		<xs:sequence>
			<xs:element name="name" type="STRING_256_TYPE"/>
			<xs:element name="registrationId" type="STRING_256_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NAME_AND_JURISDICTION">
		<xs:sequence>
			<xs:element name="name" type="ns1:ENTITY_NAME_TYPE"/>
			<xs:element name="jurisdiction" type="ns1:ENTITY_NAME_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -Begin Registration types -->
	<!-- CRD_NUMBER_TYPE needs to be updated in eis_Common.xsd -->
	<xs:simpleType name="CRD_NUMBER_TYPE">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- WEBSITE_URL_TYPE needs to be updated in eis_Common.xsd -->
	<xs:simpleType name="WEBSITE_URL_TYPE">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="REG_TYPE_1">
		<xs:sequence>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_2">
		<xs:sequence>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE"/>
			<xs:element name="crdNumber" type="CRD_NUMBER_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_3">
		<xs:sequence>
			<xs:element name="crdNumber" type="CRD_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="state" type="US_IAR_STATE_TYPE" maxOccurs="53"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_4">
		<xs:sequence>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE"/>
			<xs:element name="bankId" type="STRING_256_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_5">
		<xs:sequence>
			<xs:element name="description" type="STRING_256_TYPE"/>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="cik" type="ns1:CIK_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_6">
		<xs:sequence>
			<xs:element name="description" type="STRING_256_TYPE"/>
			<xs:element name="registrationId" type="STRING_256_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REG_TYPE_7">
		<xs:sequence>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE"/>
			<xs:element name="cik" type="ns1:CIK_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IA_REGISTRATION_NON_EXEMPT">
		<xs:sequence>
			<xs:element name="secRegistration" type="REG_TYPE_2" minOccurs="0"/>
			<xs:element name="stateRegistration" type="REG_TYPE_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IA_REGISTRATION">
		<xs:choice>
			<xs:element name="nonExempt" type="IA_REGISTRATION_NON_EXEMPT"/>
			<xs:element name="exemptAdvisor" type="REG_TYPE_2"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="INTEGER_TYPE_14">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- SIGNATURE_TYPE needs to be updated in eis_Common.xsd -->
	<xs:complexType name="SIGNATURE_TYPE">
		<xs:sequence>
			<xs:element name="dateSigned" type="ns1:DATE_TYPE" minOccurs="0"/>
			<xs:element name="nameOfApplicant" type="INDIVIDUAL_NAME_TYPE" minOccurs="0"/>
			<xs:element name="signature" type="ns1:ENTITY_NAME_TYPE" minOccurs="0"/>
			<xs:element name="title" type="STRING_256_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- DECIMAL_TYPE16_2 needs to be added in eis_Common.xsd -->
	<xs:simpleType name="DECIMAL_TYPE16_2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:pattern value="\d{0,14}\.\d\d"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMAL_TYPE16_2_NON_NEGATIVE">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:pattern value="\d{0,16}\.\d\d"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMAL_TYPE16_2_NEGATIVE">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
 			<xs:pattern value="[\+\-]?\d{0,16}\.\d\d"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DAY_TYPE">
		<xs:restriction base="xs:integer">
			<xs:pattern value="0[1-9]|1[0-9]|2[0-9]|3[01]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MONTH_TYPE">
		<xs:restriction base="xs:token">
			<xs:enumeration value="January"/>
			<xs:enumeration value="February"/>
			<xs:enumeration value="March"/>
			<xs:enumeration value="April"/>
			<xs:enumeration value="May"/>
			<xs:enumeration value="June"/>
			<xs:enumeration value="July"/>
			<xs:enumeration value="August"/>
			<xs:enumeration value="September"/>
			<xs:enumeration value="October"/>
			<xs:enumeration value="November"/>
			<xs:enumeration value="December"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BASE_REGISTRATIONS">
		<xs:sequence>
			<xs:element name="msdRegistration" type="REG_TYPE_1" minOccurs="0"/>
			<xs:element name="bdRegistration" type="REG_TYPE_2" minOccurs="0"/>
			<xs:element name="iaRegistration" type="IA_REGISTRATION" minOccurs="0"/>
			<xs:element name="gsbdRegistration" type="REG_TYPE_4" minOccurs="0"/>
			<xs:element name="otherRegistration" type="REG_TYPE_5" minOccurs="0"/>
			<xs:element name="anotherRegistration" type="REG_TYPE_6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CRIMINAL_ACTION_DISCLOSURE">
		<xs:sequence>
			<xs:element name="isConvictedOfFelony" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isChargedWithFelony" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isOrgConvictedOfFelony" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isOrgChargedWithFelony" type="ns1:YES_NO_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REGULATORY_ACTION_DISCLOSURE">
		<xs:sequence>
			<!-- c Started -->
			<xs:element name="isMadeFalseStatement" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isViolatedRegulation" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isCauseOfDenial" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isOrderAgainst" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isImposedPenalty" type="ns1:YES_NO_TYPE"/>
			<!-- D Started -->
			<xs:element name="isUnEthical" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isFoundInViolationOfRegulation" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isFoundInCauseOfDenial" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isOrderAgainstActivity" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isDeniedLicense" type="ns1:YES_NO_TYPE"/>
			<!-- E Started -->
			<xs:element name="isFoundMadeFalseStatement" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isFoundInViolationOfRules" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isFoundInCauseOfSuspension" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isDiscipliend" type="ns1:YES_NO_TYPE"/>
			<!-- 6F Started -->
			<xs:element name="isAuthorizedToActAttorney" type="ns1:YES_NO_TYPE"/>
			<!-- 6G Started -->
			<xs:element name="isRegulatoryComplaint" type="ns1:YES_NO_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIVIL_JUDICIAL_ACTION_DISCLOSURE">
		<xs:sequence>
			<xs:element name="isEnjoined" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isFoundInViolationOfRegulation" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isDismissed" type="ns1:YES_NO_TYPE"/>
			<xs:element name="isNamedInCivilProceeding" type="ns1:YES_NO_TYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SIGNATURE_SELF_CERTIFICATION_EXECUTION">
		<xs:sequence>
			<!-- We may need to add an element for the full legal name of Municipal Advisor (Firm). -->
			<xs:element name="signature" type="SIGNATURE_TYPE" minOccurs="0"/>
			<xs:element name="crdNumber" type="CRD_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
